@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1456106752_3732517.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1456106752_3732517.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1456106752_3732517.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1456106752_3732517.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1456106752_3732517.svg#iconfont') format('svg'); /* iOS 4.1- */
}
 
.iconfont{font-family:"iconfont";
font-size:20px;font-style:normal;margin-right:2px;}                   
	.ypzt-message{padding:20px;width: 60%;margin:40px auto;border: 1px solid #ccc;border-radius: 5px;box-shadow: 2px 2px 2px #dcdcdc;color: #666;}
	.ypzt-message a{color: #666;}
	.ypzt-message td{border: none;}
	.ypzt-message-title a{margin-right: 20px;padding: 10px;border: 1px solid;border-radius:5px;text-decoration: none;color: #6F6F6F}
	.ypzt-message-title-img{display: inline-block;margin-right: 10px;margin-bottom: 30px;margin-top: 10px;}
	.ypzt-message-title-img img{border-radius:50%;}
	.ypzt-message-title-img span{margin-left: 20px;font-size: 25px;}
	.ypzt-mt-10{margin-top: 10px;}
	.ypzt-message-content .form-table select{width: 100%;padding:5px;border-radius: 5px;border: 1px solid #ccc;}
	.ypzt-message-content select{padding:5px;border-radius: 5px;border: 1px solid #ccc;}
	.ypzt-message-content h2{margin:20px 0;font-size: 20px;}
	.ypzt-message-content input{border: 1px solid #ccc;border-radius: 4px;margin-top: 10px;margin-bottom: 13px;}
	
	.ypzt-message-content #insert-media-button{margin-right: 15px;}
	.ypzt-message-border{border-bottom:1px solid #ececec;padding-bottom: 35px;text-align: center;}
	.ypzt-message-information{margin-bottom: 30px;}
	.ypzt-number{font-size: 25px;margin-right: 5px;}
	.ypzt-message-border h2{border-bottom: 1px solid #ECECEC;margin-top: 0px;padding-bottom: 20px;}
	.ypzt-message-subject{width: 100%;}
	.yzpt-content-td{width: 45%;padding-right: 5%}
	.yzpt-content-td .yzpt-content-td-title{font-size: 16px;font-weight:800;}
	@media screen and (max-width: 768px) {
    .ypzt-message{
       width: 100%
    }
}